<div class="container">
  <div class="portrait">
    <img src="assets/app/portrait.jpeg" alt="Фотограф Анастасия Малахова из Кирова с камерой — портретное фото">
  </div>
  <div class="about-text">
    <h2>Анастасия Малахова, фотограф из Кирова</h2>
    <p>
      Я — Малахова Анастасия, профессиональный свадебный и портретный фотограф из г. Киров, чья страсть — запечатлеть уникальные моменты и
      превращать их в вечные воспоминания.
    </p>
    <p>
      В моей работе я стремлюсь передать истинные эмоции, подчеркнуть красоту и индивидуальность каждого человека.
    </p>

    <p>
      Мои снимки — это не просто картинки, а живые истории, которые хочется пересматривать снова и снова.
    </p>

    <p>
      Моя миссия — помочь вам почувствовать себя особенными в любой ситуации: будь то свадебный день, портрет, семейный уют или неповторимый пейзаж, позволить себе взглянуть на себя с новой стороны и запечатлеть свою уникальность в каждом кадре! Я использую современные техники и искреннее отношение, чтобы каждое изображение стало шедевром.
    </p>

    <p class="seo-note">
      Закажите фотосъёмку в г. Кирове: свадьбы, портреты, студийные фотосессии и семейные фото - нажмите
        <a (click)="openContacts()" class="contacts-click" aria-label="Связаться со мной">сюда</a> чтобы связаться со мной
    </p>
  </div>
</div>
