<div class="container">

  @if(loading$ | async) {
    <div class="loading">
      <div>Одну секунду...</div>
      <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
  }

  <div class="keywords search">
    @let tagFilter = tagFilter$ | async;
    @for(tag of tags$ | async; track tag) {
      <div class="keyword" [class.active]="tagFilter === tag.toLowerCase().split(DELIMITER)[0]"
           (click)="setFilterKeyword(tag)">{{tag}}</div>
    }
  </div>

  @for(folderMeta of folderMetas$ | async; track folderMeta.path) {
    <div class="folder">
      @let allImages = folderMeta.images || [];
      @let showUpToIndex = mapFolderKeyToShownImageIndex.get(folderMeta.path) || DEFAIULT_SHOWN_IMAGES_INDEX;
      @let shownImages = allImages.slice(0, showUpToIndex);

      @if(folderMeta.metadata.camera; as camera) {
        <div>
          📷 {{ camera }}
        </div>
      }

      @if(folderMeta.metadata.description) {
        <div>
          {{ folderMeta.metadata.description }}
        </div>
      }

      @let keywords = folderMeta.metadata.keywords || [];
      @if(keywords.length > 0) {
        <div class="keywords">
          @for(keyword of keywords; track keyword) {
            <div class="keyword">{{ keyword }}</div>
          }
        </div>
      }

      <div class="masonry">
        @for(image of shownImages; track image.path) {
          <div class="masonry-item" (click)="openImage(image.url)">
            <img [src]="image.url" loading="lazy" >
          </div>
        }
      </div>

      @if(shownImages.length < allImages.length && allImages.length > 0) {
        <div>
          <button mat-raised-button color="accent"
                  (click)="showMore(folderMeta.path)">
            Показать еще
          </button>
        </div>
      } @else  {
        Это все {{ allImages.length }} фото сделаных с ❤️
      }

    @if(folderMeta.metadata.createdAt) {
      <div class="signature">
        @ {{ folderMeta.metadata.createdAt }}

        <a (click)="openContacts()" class="contacts-click" aria-label="Связаться со мной">
          💌 Связаться
        </a>

      </div>
    }

    </div>
  }
</div>
