:host {
    flex-grow: 1; /* Allows app-root to take up available space */
    display: flex; /* If app-root also contains flex items */
    flex-direction: column;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 10rem;
  padding: 5rem 4rem 6rem 5rem;
  color: #e30b5d;
  background: transparent;

  .header {
    font-size: 4rem;
    font-family: "Hachi Maru Pop", cursive;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .navigation {
    a {
      margin-left: 1.5em;
    }
  }
}

.footer {
  padding: 2rem;
  text-align: center;
}
