<mat-toolbar  role="banner">
  <header class="header" routerLink="/" aria-label="На главную">
    Anastajio
  </header>
  <nav class="navigation" aria-label="Главная навигация">
    <a routerLink="/about" routerLinkActive="active" aria-current="page">Обо мне</a>
    <a routerLink="/portfolio" routerLinkActive="active">Мои фото</a>
    <a (click)="openContacts()">Связаться</a>
  </nav>
</mat-toolbar>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer" id="footer">

  <app-contacts></app-contacts>

  <div class="made-by-container">
    made with ❤️ in sf
  </div>
</footer>
