.mat-toolbar-row, .mat-toolbar-single-row {
  height: 110px;
  padding: 2em 3em 2em 3em;


  .header {
    font-family: 'Roboto', cursive;
    font-size: 60px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .navigation {
    a {
      margin-left: 1.5em;
    }
  }
}

