<mat-toolbar>
  <div class="header">
    Anastajio
  </div>
  <div class="navigation">
    <a routerLink="/about">Обо мне</a>
    <a routerLink="/portfolio">Мои фото</a>
  </div>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="contacts-container">
    <div>Напишите мне</div>
    <div class="social-links">
      <a href="https://vk.com/anastajio" target="_blank">
        <img ngSrc="../assets/app/64px-VK.com-logo.svg.png"
             width="36"
             height="36"
             alt="Напишите мне во ВКонтакте"/>
      </a>

      <a href="https://t.me/PhotoAnastajio" target="_blank">
        <img ngSrc="../assets/app/64px-Telegram_logo.svg.png"
             width="36"
             height="36"
             alt="Напишите мне во Телеграм"/>
      </a>

      <a href="mailto:anastajio3@gmail.com" target="_blank">
        <img ngSrc="../assets/app/64px-Gmail_icon_(2020).svg.png"
             width="28"
             height="28"
             alt="Напишите мне email"/>
      </a>
    </div>
  </div>

  <div class="made-by-container">
    made with ❤️ in sf
  </div>
</div>
