:host {
    flex-grow: 1; /* Allows app-root to take up available space */
    display: flex; /* If app-root also contains flex items */
    flex-direction: column;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 250px;
  padding: 0;
  color: #e30b5d;
  background: transparent;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto;
    padding: 0 4rem;
    height: 160px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 1fr auto;
    flex-direction: row;
    height: 200px;
  }

  .header {
    padding-top: 48px;
    font-size: 52px;
    font-family: "Hachi Maru Pop", cursive;

    @media (min-width: 768px) {
      padding-top: 0;
    }
  }

  .navigation {
    font-size: 18px;
    display: grid;
    gap: 1rem;
    text-align: end;
    align-items: end;

    @media (min-width: 1400px) {
      grid-template-columns: auto auto;
      gap: 4em;
    }

    //a {
    //  margin-left: 1.5em;
    //}
  }
}

.footer {
  padding: 2rem;
  text-align: center;

  .contacts-container {
    display: grid;
    gap: 1rem;
    margin: 1em;

    .social-links {
      display: grid;
      grid-template-columns: 36px 36px 36px;
      gap: 1rem;
      justify-content: center;
    }
  }

  .made-by-container {
    padding: 2rem;
  }
}
