@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Or row, depending on layout */
  margin: 0;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Hachi Maru Pop", cursive;

  background-image: radial-gradient(circle at 50% 55%, rgba(0, 0, 0, 0.99) 0%, rgba(0, 0, 0, 0) 99%),
  linear-gradient(rgba(20, 16, 12, 0.45), rgba(20, 16, 12, 0.45)),
  url('assets/app/background.jpeg');
  background-size: cover, cover, cover;
  background-position: center, center, center;
  background-repeat: repeat-y;
  /* Top two layers darken & warm the image */
  background-blend-mode: multiply, multiply, normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;

  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

a {
  color: white;
  text-decoration: none;
  font-family: "Hachi Maru Pop", cursive;

  &:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy; /* makes it wavy */
    text-decoration-color: #e30b5d;
    text-underline-offset: 4px; /* move it slightly away from text */
  }
}

.dialog-backdrop {
  background-color: #000000ba;
}
