@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto;
}

.page-content {
  margin: 24px auto 24px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.width-60 {
  width: 60%;
}

.width-80 {
  width: 80%;
}

